@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Quicksand:wght@300..700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Special+Gothic+Condensed+One&display=swap');

@import "tailwindcss";

@theme {
  --color-primary-text: var(--primary-text);
  --color-secondary-text: var(--secondary-text);
  --color-bg-color: var(--bg-color);
  --color-primary: var(--primary-color);
  --color-secondary: var(--secondary-color);
  --color-card: var(--card-color);

  --font-inter: 'Inter', sans-serif;
}

@layer base {
  html {
    font-family: var(--font-inter);
  }
}

:root {
  --primary-text: #222;
  --bg-color: #EEE;
  --primary-color: #2B9AB5;
  --secondary-color: #01af49;
  --card-color: #fbfbfb;
}

.dark {
  --primary-text: #EEE;
  --bg-color: #0A0A0A;
  --card-color: #151515;
}

